doctype 5
html(lang="en")
	head
		title Admin table with Surveys
		script(src="./modernizr-2.5.3.min.js")
	body
		h1 Welcome #{username.user}
		h2 You will see the input
		#container
			table
				for guy, i in attendees
					tr
						td #{guy.nickname}
						for answer, j in answers
							td #{answer.a};